@page "/worldevent"
@using SpaceRaceKai.Shared.Models.WorldEvent
@inject HttpClient http

<h3>World Events</h3>
<a href="/worldevent/create">Create a new world event</a>

@if (worldEvents is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Planet Type</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (WorldEventListItem item in worldEvents)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.PlanetTypeName</td>
                        <td>
                            <a href=@($"/worldevent/{item.Id}")>Details</a>
                            <a href=@($"worldevent/edit/{item.Id}")>Edit</a>
                            <a href=@($"/worldevent/delete/{item.Id}")>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<WorldEventListItem> worldEvents;

    protected override async Task OnInitializedAsync()
    {
        worldEvents = await http.GetFromJsonAsync<List<WorldEventListItem>>("api/worldevent");
    }
}
