@page "/about/game-objects"

<h1>About Game Objects</h1>

<div>
    <h2>Colony</h2>
    <p>
        A colony has several stats that change via events during gameplay.
    </p>
</div>
<div>
    <h2>Planet Type</h2>
    <p>
        Planet types signify the major climatological characteristics of planets.
    </p>
</div>
<div>
    <h2>Event Effect</h2>
    <p>
        An event effect represents a single outcome of an event that causes changes in each of a colony's stats.
    </p>
</div>
<div>
    <h2>World Event</h2>
    <p>
        World events have a 'Name' and 'Description' property to give context to the singular event effect that is tied to it.
    </p>
</div>
<div>
    <h2>Decision Event</h2>
    <p>
        Decision events, with 'Name' and 'Description' properties analagous to those of World Events, offer a choice between to options that resolves to a single event effect on a colony.
    </p>
</div>