@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center mx-auto">Welcome to Space Race Kai</h1>

<div class="container">
    <h2>Introduction</h2>
    <p>
        This web app is a game design tool that you can use to simulate the creation and management of colonies in outer space. 
        These colonies represent sovereign states that the player governs as a president or prime minister. 
        As the player's main control mechanic in the game, decisions concerning the welfare of colonies (called "Decision Events") are presented during gameplay, however other events, called "World Events", also occur beyond player control and affect the colony in various ways.
        The stats of colonies persist between playthroughs, allowing for continuous development. 
    </p>
    <p>
        Below is a synopsis of the main gameplay loop. See <a href="/about/game-objects">About Game Objects</a> for details on the entities that the game uses.
    </p>
</div>
<div class="container">
    <h2>Gameplay</h2>
    <p>
        By default, a game consists of 10 randomly-chosen events that will impact the colony selected on the 'Play a Game' page. 
        Of these events, 5 are World Events and 5 are Decision Events. 
        Each event is sequentially revealed to the player one by one, starting with the World Events. 
        Once the player reaches Decision Events, a choice with two options is presented for each event. 
        The effects of all 10 events are summed up after the last event has been decided, and the colony will be updated to reflect the changes.
    </p>
</div>