@page "/eventeffect/create"
@using SpaceRaceKai.Shared.Models.EventEffect
@inject HttpClient http
@inject NavigationManager navigation

<h3>Create New Event Effect</h3>

@if (errorMessage != null)
{
    <h5>@errorMessage</h5>
}
else
{
    <div class="container-md" style="width: 20rem;">
        <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
            <div class="d-flex justify-content-between">
                <label>Population Change</label>
                <InputNumber @bind-Value="model.PopulationChange" />
            </div>
            <div class="d-flex justify-content-between">
                <label>Approval Change</label>
                <InputNumber @bind-Value="model.ApprovalChange" />
            </div>
            <div class="d-flex justify-content-between">
                <label>Tech Change</label>
                <InputNumber @bind-Value="model.TechChange" />
            </div>
            <div class="d-flex justify-content-between">
                <label>Industry Change</label>
                <InputNumber @bind-Value="model.IndustryChange" />
            </div>
            <div class="d-flex justify-content-between">
                <label>Wealth Change</label>
                <InputNumber @bind-Value="model.WealthChange" />
            </div>
            <button type="submit">Create</button>
        </EditForm>
    </div>
}

@code {
    private string? errorMessage;
    private EventEffectCreate model = new();

    private async void HandleSubmit()
    {
        var response = await http.PostAsJsonAsync<EventEffectCreate>("/api/eventeffect", model);
        if (response.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/eventeffect");
        }
        else
        {
            errorMessage = "The event effect could not be created right now. Please try again later.";
        }
    }
}
