@page "/eventeffect/delete/{EventEffectId:int}"
@using SpaceRaceKai.Shared.Models.EventEffect
@inject HttpClient http
@inject NavigationManager navigation

<h3>Delete Event Effect</h3>

@if (Message != null)
{
    <h2>@Message</h2>
}
@if (model != null)
{
    <div class="container">
        <EventEffectTable model=@model />
        <div>
            <a href="/eventeffect">Return to Event Effects</a>
            <a href="#" @onclick="HandleClick">DELETE</a>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public int EventEffectId { get; set; }

    public EventEffectDetail model = new();
    public string? Message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        model = await http.GetFromJsonAsync<EventEffectDetail>($"/api/eventeffect/{EventEffectId}");
    }

    private async void HandleClick()
    {
        var response = await http.DeleteAsync($"/api/eventeffect/{EventEffectId}");
        if (response.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/eventeffect");
        }
        else
        {
            Message = $"Event Effect (ID: {model.Id}) could not be deleted.";
        }
    }
}
