@page "/decisionevent/{DecisionEventId:int}"
@using SpaceRaceKai.Shared.Models.DecisionEvent
@inject HttpClient http

@if (DecisionEvent != null)
{
    <div>
        <h3>@DecisionEvent.Name</h3>
        <p>Description: @DecisionEvent.Description</p>
        <DecisionEventTable Model=@DecisionEvent />
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public int DecisionEventId { get; set; }

    public DecisionEventDetail DecisionEvent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DecisionEvent = await http.GetFromJsonAsync<DecisionEventDetail>($"/api/decisionevent/{DecisionEventId}");
    }
}
