@page "/decisionevent"
@using SpaceRaceKai.Shared.Models.DecisionEvent
@inject HttpClient http

<h3>Decision Events</h3>
<a href="/decisionevent/create">Create a new decision event</a>

@if (decisionEvents is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DecisionEventListItem item in decisionEvents)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a href=@($"/decisionevent/{item.Id}")>Details</a>
                            <a href=@($"decisionevent/edit/{item.Id}")>Edit</a>
                            <a href=@($"/decisionevent/delete/{item.Id}")>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<DecisionEventListItem> decisionEvents;

    protected override async Task OnInitializedAsync()
    {
        decisionEvents = await http.GetFromJsonAsync<List<DecisionEventListItem>>("api/decisionevent");
    }
}
