@page "/planettype/delete/{PlanetTypeId:int}"
@using SpaceRaceKai.Shared.Models.PlanetType
@inject HttpClient http
@inject NavigationManager navigation

<h3>Delete Planet Type: @PlanetType.Name</h3>

@if (Message != null)
{
    <h2>@Message</h2>
}
@if (PlanetType != null)
{
    <div class="container">
        <div class="card">
            <h6 class="card-header">Details</h6>
            <div class="card-body">
                <p>Temperature Rating: @PlanetType.TemperatureRating degrees</p>
                <p>Land Cover: @PlanetType.LandCover% of planet's surface</p>
            </div>
            <div>
                <a href="/planettype" class="btn btn-primary">Return to Planet Types</a>
                <a href="#" class="btn btn-danger" @onclick="HandleClick">DELETE</a>
            </div>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public int PlanetTypeId { get; set; }

    public PlanetTypeDetail PlanetType { get; set; } = new();
    public string? Message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        PlanetType = await http.GetFromJsonAsync<PlanetTypeDetail>($"/api/planettype/{PlanetTypeId}");
    }

    private async void HandleClick()
    {
        var response = await http.DeleteAsync($"/api/planettype/{PlanetTypeId}");
        if (response.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/planettype");
        }
        else
        {
            Message = $"Planet type '{PlanetType?.Name}' (ID:{PlanetType?.Id}) could not be deleted.";
        }
    }
}
