@page "/planettype/{PlanetTypeId:int}"
@using SpaceRaceKai.Shared.Models.PlanetType
@inject HttpClient http

@if (PlanetType != null)
{
    <div>
        <h3>@PlanetType.Name</h3>
        <p>Temperature Rating: @PlanetType.TemperatureRating degrees</p>
        <p>Land Cover: @PlanetType.LandCover% of planet's surface</p>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public int PlanetTypeId { get; set; }

    public PlanetTypeDetail PlanetType { get; set; }

    protected override async Task OnInitializedAsync()
    {
        PlanetType = await http.GetFromJsonAsync<PlanetTypeDetail>($"/api/planettype/{PlanetTypeId}");
    }
}
